<h2><%= @restaurants.name %></h2>
<h2><%= @restaurants.address %></h2>
<h2><%= @restaurants.phone_number %></h2>
<h2><%= @restaurants.category %></h2>

<%# <form method="get" action="/tasks">
    <button type="submit">Go Back</button>
</form>

<li><%= link_to 'edit' , edit_task_path(@tasks) %></li> %>
